@namespace UctovnyModul
@page "/UniConItemy"
@inject UniConItemyViewModel ViewModel


<ApproveModal @ref=AprovMod ID="deletemodal"
              Text="Naozaj chcete odstrániť tento riadok?<br>POZOR môžu sa vymazať prvky, ktoré sú spojené s touto položkou!"
              FuncOnSucc="EventCallback.Empty"
              FuncOnDiss="EventCallback.Empty">
</ApproveModal>

<ItemFinderTable T="string"
                 @ref="ifttype"
                 ID="itftype"
                 ColNames="@(new(){"Typ"})"
                 ColValues="ViewModel.TypyList()"
                 SizeInRem="30"
                 Header="Filter podľa typu">
</ItemFinderTable>

<div class="container">

    <div class="row pb-1">

        <div class="col-3 d-flex justify-content-bottom mb-2">
            <SearchInput NumCols="6" TableID="tableid" PlaceHolder="Vyhľadaj položku..."></SearchInput>
        </div>

        <div class="col-9">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary" @onclick="Close"><IconTextClose></IconTextClose></button>
                <button @onclick="Create" type="button" disabled="@(!ViewModel.ValidateUserCRUD())" class="btn btn-primary"><IconTextCreate></IconTextCreate></button>
                <button type="button" @onclick="Open" disabled="@(marked == null || !ViewModel.ValidateUserCRUD())" class="btn btn-primary"><IconTextOpen></IconTextOpen></button>
                <button type="button" class="btn btn-info" @onclick="FindTyp">Typ:&nbsp;@ViewModel.GetTypNazov()</button>

            </div>
        </div>

        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-12" style="max-height: 30rem;overflow: auto;">
            <SimpleTable ID="tableid">
                <THEAD>

                    <ThSort>ID Spojenia</ThSort>
                    <ThSort>ID</ThSort>
                    <ThSort>Typ</ThSort>
                    <ThSort>Názov</ThSort>
                    <ThSort>@ViewModel.GetHeaderTable()</ThSort>
                    <ThSort>Cena</ThSort>
                <th class="col-resize" scope="col"></th>

                </THEAD>
                <TBODY>
                    @if (ViewModel.NacitavaniePoloziek)
                    {
                        <div class="ms-1">
                            <SpinnerLoading Size="2.0"></SpinnerLoading>
                        </div>
                    }
                    else
                    {
                        <Microsoft.AspNetCore.Components.Web.Virtualization.Virtualize Items="ViewModel.ZoznamPoloziek" Context="item" SpacerElement="tr" ItemSize="50">
                            <ItemContent>

                                <tr @onclick=@(() => marked = item) class="@(marked == item ? "selected-row" : "")" @ondblclick="@(() => Open())" style="cursor: pointer;">

                                    <td class="col-resize">@item.ID</td>
                                    <td class="col-resize">@item.GetID()</td>
                                    <td class="col-resize">@item.GetTypeUni()</td>
                                    <td class="col-resize">@item.GetNameUni()</td>
                                    <td class="col-resize">@ViewModel.GetValTable(item)</td>
                                    <td class="col-resize">@item.GetCenaUni()</td>
                                    <td>
                                        @if (ViewModel.ValidateUserCRUD())
                                        {
                                            <ButtonRemove Disabled="@(!ViewModel.MoznoVymazat(item))" OnClick="@(() => Delete(item))" TooltipMessage="Nemožno vymazať túto položku, lebo je spojená s dokladom."></ButtonRemove>
                                        }
                                    </td>

                                </tr>
                            </ItemContent>
                            <EmptyContent>
                                <tr>
                                    <div class="h3 text-dark">Zoznam je prázdny</div>
                                </tr>
                            </EmptyContent>
                            <Placeholder>
                                <div class="ms-1">
                                    <SpinnerLoading Size="2.0"></SpinnerLoading>
                                </div>
                            </Placeholder>
                        </Microsoft.AspNetCore.Components.Web.Virtualization.Virtualize>
                    }
                </TBODY>

            </SimpleTable>
        </div>

    </div>
</div>

@code {

    private DBLayer.Models.UniConItemPoklDokladu? marked;
    private ApproveModal AprovMod = new();
    private ItemFinderTable<string> ifttype = new();

    protected override void OnInitialized()
    {
        if (!ViewModel.ValidateUser())
        {
            Navigator.NavigateTo(Navigator.RemoveLastUrl());
            return;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (!ViewModel.ValidateUser())
        {
            return;
        }
        await ViewModel.NacitajZoznamy();
    }

    public void Close()
    {
        Navigator.NavigateTo(Navigator.RemoveLastUrl());
    }

    public void Open()
    {
        if (marked != null)
        {
            if (ViewModel.ValidateUserCRUD())
            {
                objectHolder.Add(marked);
                Navigator.NavigateTo(Navigator.AddNextUrl("/CRUUniItem"));
            }
        }
    }

    public void Create()
    {
        if (ViewModel.ValidateUserCRUD())
        {
            Navigator.NavigateTo(Navigator.AddNextUrl("/CRUUniItem"));
        }
    }

    public async Task Delete(DBLayer.Models.UniConItemPoklDokladu item)
    {
        if (ViewModel.MoznoVymazat(item))
        {
            if (await AprovMod.OpenModal(true))
            {
                ViewModel.Vymazat(item);
            }
        }
    }

    public async Task FindTyp()
    {
        if (await ifttype.OpenModal(true))
        {
            ViewModel.SpravujZmenuTypu(ifttype.OutSelection.FirstOrDefault());
        }
    }

}

