@namespace RecepciaModul
@using Microsoft.EntityFrameworkCore
@using PdfCreator.Models
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject DataContext dbw
@inject DBContext db

<ItemFinderTable T="DBLayer.Models.Room" @ref="iftroom" ID="itemfindroom"
                 ColNames="@(new() {"Číslo izby", "Kategória", "Kapacita", "Cena za noc" })"
                 SearchedValue="@("")"
                 KeyAttributeToo="true"
                 ColValues="ListIzby"
                 ChangeColor="true">

</ItemFinderTable>
<ItemFinderTable T="IdentityUserWebOwn" @ref="iftwebguest" ID="fndwebusrrez"
                 ColNames="@(new() {"Meno", "Priezvisko", "Username", "Email", "Telefón" })"
                 OnlyProtectedPersonalDataAttribute="true"
                 SelectEmptyInstance="true"
                 ColValues="ListWebGuest"
                 ChangeColor="true">
</ItemFinderTable>

<FastFormModal @ref="couponmodal"
               ID="coupmodalid"
               FuncOnSucc="EventCallback.Empty"
               Header="Vložte kód poukážky"
               Inputs="@(new() { ("Kód", "string") } )"
               ChangeColor="true">
</FastFormModal>

<CustomModal @ref="cuscreatehost" ID="cuscreatehostmod" Header="Vytvorenie hosťa" OneButtonOnly="true" ChangeColor="true" SizeInRem="90" ZIndex="55">
    <BODY>
        @if (cuscreatehost.Render)
        {
            <CRUHost AsComponent="true"></CRUHost>
        }

    </BODY>

</CustomModal>

<CustomModal @ref="cusopendoklad" ID="cusopenkasamod" Header="Pokladničný blok" OneButtonOnly="true" ChangeColor="true" SizeInRem="90" ZIndex="55">
    <BODY>
        @if (cusopendoklad.Render)
        {
            <PokladnicnyDoklad AsComponent="true" OnlyOneItem="true"></PokladnicnyDoklad>
        }
    </BODY>

</CustomModal>

@if (compVybkasa.Rendered)
{
    <CompVyberKasa @ref="compVybkasa"
                   AfterRender="OpenPickKasa"
                   AfterDispose="OpenDokladMod"
                   Kasy="ZoznamKas"></CompVyberKasa>
}


<CustomModal @ref="cusmodHostcon" ID="cusmodshowhost" Header="Hostia rezervácie" OneButtonOnly="true" ChangeColor="true" SizeInRem="60" ZIndex="50">
    <BODY>
        <ItemFinderTable T="DBLayer.Models.Host" @ref="ifthost" ID="dnfhost"
                         ColNames="@(new() {"Meno", "Priezvisko", "Adresa", "Rod. č.", "Č. pasu", "Č. občan.", "Pohlavie", "Národnosť" })"
                         SearchedValue=""
                         ColValues="ListHostia"
                         CutOffTail="true">
        </ItemFinderTable>

        <div class="col-12" style="max-height: 30rem;overflow: auto;">
            <SimpleTable ID="tablehostid">
                <THEAD>

                <th><BtnFind Disabled="@(ValidateChangeability())" OnClick="@AddHostCon" /></th>
                <ThSort>Meno</ThSort>
                <ThSort>Priezvisko</ThSort>
                <ThSort>Adresa</ThSort>
                <ThSort>Č. občianského</ThSort>
                <ThSort>Č. pasu</ThSort>
                <ThSort>Pohlavie</ThSort>
                <ThSort>Národnosť</ThSort>
                <th></th>
                <th></th>

                </THEAD>
                <TBODY>

                    @foreach (var item in VyberHosti)
                    {
                        <tr @ondblclick="() => OpenHostFrom(item.HostX)">
                            <td class="col-resize"></td>
                            <td class="col-resize">@item.HostX.Name</td>
                            <td class="col-resize">@item.HostX.Surname</td>
                            <td class="col-resize">@item.HostX.Address</td>
                            <td class="col-resize">@item.HostX.CitizenID</td>
                            <td class="col-resize">@item.HostX.Passport</td>
                            <td class="col-resize">@(item.HostX.Sex ? "Žena" : "Muž")</td>
                            <td class="col-resize">@item.HostX.Nationality</td>
                            <td>
                                <ButtonRemove Disabled="@(ValidateChangeability())" OnClick="@(() => DeleteHostCon(item))"></ButtonRemove>
                            </td>
                            <td>
                                <button type="button" disabled="@PDFLoading" class="btn btn-info" @onclick="() => CreatePdf(item)">
                                    <i class="bi bi-filetype-pdf"></i>
                                    @if (PDFLoading)
                                    {
                                        <SpinnerLoading ExtraSmall="true"></SpinnerLoading>
                                    }
                                </button>
                            </td>

                        </tr>
                    }

                    <span id="observerTarget"></span>
                </TBODY>

            </SimpleTable>
        </div>
    </BODY>

</CustomModal>
<div style="z-index:51">
    <InfoModal @ref="modsaved" Text="Zmeny boli uložené" ChangeColor="true"></InfoModal>

    <ApproveModal @ref="infomod" Text=""
                  FuncOnDiss="EventCallback.Empty"
                  FuncOnSucc="EventCallback.Empty"
                  ChangeColor="true">
    </ApproveModal>
</div>


<EditForm Model="Marked" OnValidSubmit="() => Save()">
    <DataAnnotationsValidator />

    <div class="container px-2">

        <div class="row g-3 p-3">
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <label>Príchod</label>
                        <InputDate id="dateinputres1" disabled="@ValidateChangeability()" class="form-control" @bind-Value="@Marked.ArrivalDate" />
                        <ValidationMessage For="@(() => Marked.ArrivalDate)" />
                    </div>
                    <div class="col-4">
                        <label>Odchod</label>
                        <InputDate id="dateinputres2" disabled="@ValidateChangeability()" class="form-control" @bind-Value="@Marked.DepartureDate" />
                        <ValidationMessage For="@(() => Marked.DepartureDate)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col col-3">
                        <label>Izba*</label>
                        <InputText id="inputroom" @bind-Value="@Marked.RoomNumber" @onkeydown="@((e) => HandleKeyDown(e, "inputroom"))" disabled="@ValidateChangeability()" class="form-control" />
                        <ValidationMessage For="@(() => @Marked.RoomNumber)" />
                    </div>
                    <div class="col-1">
                        <div style="height: 24px;"></div>
                        <BtnFind Disabled="@(ValidateChangeability())" OnClick="@FindRoom" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label>Plánovaný&nbsp;hostia</label>
                        <InputNumber id="numguestinput" @bind-Value="@Marked.NumberGuest" disabled="@(ValidateChangeability() || Marked.Room == null)" class="form-control" />
                        <ValidationMessage For="@(() => Marked.NumberGuest)" />
                    </div>
                    <div class="col-1 me-2">
                        <div style="height: 24px;"></div>
                        <button id="numguestshow" disabled="@(ValidateChangeability() || Marked.Room == null || Marked.Id == 0)" type="button" @onclick="OpenHostTab" class="btn btn-secondary">
                            <i class="bi bi-people-fill"></i>
                        </button>
                    </div>
                    <div class="col-1">
                        <div style="height: 24px;"></div>
                        <button disabled="@(ValidateChangeability() || Marked.Room == null || Marked.Id == 0)" type="button" @onclick="CreateHostTab" class="btn btn-secondary">
                            <i class="bi bi-person-fill-add"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <label>Status</label>
                        <select id="selectstav" @bind="Marked.Status" disabled="@(ValidateChangeability() || Marked.Room == null)" class="form-select @(IsCompleted() || IsStorno() ? " border border-warning " : "")">
                            @foreach (var status in SelectValues)
                            {
                                <option value="@status">@status</option>
                            }
                        </select>
                        <ValidationMessage For="@(() => Marked.Status)" />
                    </div>
                </div>

            </div>

            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <label>Celková&nbsp;suma</label>
                        <InputNumber disabled="@(ValidateChangeability() || Marked.Room == null)" @bind-Value="@Marked.CelkovaSuma" class="form-control" />
                        <ValidationMessage For="@(() => Marked.CelkovaSuma)" />
                    </div>
                    <div class="col-4">
                        <label>Celková&nbsp;suma&nbsp;DPH</label>
                        <input type="text" disabled value="@Marked.CelkovaSumaDPH.ToString("F2")" class="form-control" />
                    </div>
                    <div class="col-2">
                        <label>Ubyt.&nbsp;poplatok</label>
                        <InputNumber id="ubytpopinp" disabled="@(ValidateChangeability() || Marked.Room == null)" @bind-Value="@Marked.UbytovaciPoplatok" class="form-control" />
                        <ValidationMessage For="@(() => Marked.UbytovaciPoplatok)" />
                    </div>
                    <div class="col-1">
                        <div style="height: 24px;"></div>
                        <button id="ubytpopinp2" disabled="@(ValidateChangeability() || Marked.Room == null)" type="button" @onclick="CalculateSum" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Vypočíta: ((cena za izbu * (100 - zľava)) / 100) + (ubytovací poplatok * počet navolených hostí)">
                            <i class="bi bi-calculator"></i>
                        </button>
                    </div>

                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Poukážka</label>
                        <input id="coupinputid" type="text" disabled readonly value="@(Marked.Coupon?.NameService ?? "-")" class="form-control" />
                        <div id="coupinputid2"></div>
                        <div id="coupinputid3"></div>
                    </div>
                    <div class="col-2">
                        <label>Zľava</label>
                        <input type="number" disabled readonly value="@(Marked.Coupon?.Discount ?? 0)" class="form-control" />
                    </div>
                    <div class="col-1 me-2">
                        <div style="height: 24px;"></div>
                        <button disabled="@(ValidateChangeability() || Marked.Room == null)" @onclick="FindCouponF" type="button" class="btn btn-secondary">
                            <i class="bi bi-box-arrow-in-down "></i>
                        </button>
                    </div>
                    <div class="col-1">
                        <div style="height: 24px;"></div>
                        <button disabled="@(ValidateChangeability() || Marked.Coupon == null)" @onclick="OpenInfoCoupon" type="button" class="btn btn-secondary">
                            <i class="bi bi-info"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Web&nbsp;používateľ</label>
                        <input disabled readonly value="@(Marked.Guest?.Email ?? "-")" class="form-control" />
                    </div>
                    <div class="col">
                        <div style="height: 24px;"></div>
                        <button disabled="@(ValidateChangeability() || Marked.Room == null)" type="button" @onclick="FindGuest" class="btn btn-secondary">
                            <i class="bi bi-box-arrow-in-down "></i>
                        </button>
                    </div>
                </div>
                <div class="row">

                </div>

            </div>



        </div>

        <hr>

        <div class="row pt-2">
            <div class="col text-center">
                <SimpleButton ID="submitbttn" Disabled="ValidateChangeability()" ZmenaStavuTextu="Exist()" Type="submit" ZmenaTextu="@(("Uložiť", "Vytvoriť"))" Class="btn btn-primary me-2"> </SimpleButton>
                @if (Marked.ArrivalDate == DateTime.Today && IsZaplatena())
                {
                    <SimpleButton ID="checkinbttn" OnClick="ProcessCheckIN" Disabled="ValidateChangeability() || Marked.Id == 0 " Type="button" Class="btn btn-success" ZmenaTextu="@(("CHECK-IN", "CHECK-IN"))"> </SimpleButton>
                }
                else if (Marked.DepartureDate == DateTime.Today && IsCompleted())
                {
                    <SimpleButton ID="checkoutbttn" OnClick="ProcessCheckOUT" Disabled="ValidateChangeability()  || Marked.Id == 0" Type="button" Class="btn btn-danger" ZmenaTextu="@(("CHECK-OUT", "CHECK-OUT"))"> </SimpleButton>
                }
                @if (IsSpracovana())
                {
                    <SimpleButton ID="kasabttn" OnClick="OpenDoklad" Type="button" ZmenaTextu="@(("KASA", "KASA"))" Class="btn btn-primary ms-2"> </SimpleButton>
                }
                @*<button type="button" @onclick="OpenPickKasa">aaaa</button>*@
            </div>
        </div>
    </div>
</EditForm>



@code {
    [EditorRequired]
    [Parameter]
    public DBLayer.Models.Rezervation Marked { get; set; }
    [EditorRequired]
    [Parameter]
    public List<DBLayer.Models.Host> ListHostia { get; set; }
    [EditorRequired]
    [Parameter]
    public List<DBLayer.Models.Room> ListIzby { get; set; }
    [EditorRequired]
    [Parameter]
    public List<IdentityUserWebOwn> ListWebGuest { get; set; }

    InfoModal modsaved = new();
    ApproveModal infomod = new();
    ItemFinderTable<DBLayer.Models.Room> iftroom = new();
    FastFormModal couponmodal = new();
    private ItemFinderTable<IdentityUserWebOwn> iftwebguest = new();
    CustomModal cusmodHostcon = new();
    ItemFinderTable<DBLayer.Models.Host> ifthost = new();
    CustomModal cuscreatehost = new();
    CustomModal cusopendoklad = new();
    CompVyberKasa compVybkasa = new();


    public bool Initialized { get; private set; } = false;

    public bool PDFLoading = false;

    private bool Warned = false;
    private Array SelectValues = Enum.GetValues(typeof(DBLayer.Models.ReservationStatus));
    private List<DBLayer.Models.HostConReservation> VyberHosti = new();
    private List<DBLayer.Models.Kasa> ZoznamKas = new();


    protected override void OnInitialized()
    {
        Reset();
        Initialized = true;
    }

    private async Task Save(bool silent = false)
    {
        #region kontrola zvolenia storno
        if (Marked.Status == DBLayer.Models.ReservationStatus.Stornovana.ToString())
        {
            infomod.UpdateText("Chcete túto rezerváciu stornovať?" + (UserService.IsLoggedUserInRoles(DBLayer.Models.Rezervation.ROLE_CRUD_REZERVACIA) ? "" : "Ďalšia úprava nie je pre Vás možná."));
            if (!await infomod.OpenModal(true))
            {
                return;
            }
            Warned = true;
        }
        #endregion
        #region kontrola zvolenia blokovana
        if (Marked.Status == DBLayer.Models.ReservationStatus.Blokovana.ToString())
        {
            var found = dbw.Rezervations.Include(x => x.Coupon).Include(x => x.Guest).Include(x => x.Room).FirstOrDefault(x => x.Id == Marked.Id);
            if (found == null)
            {
                infomod.UpdateText("Najskor uložte rezervaciu bez blokácie a potom ju nastavte na blokovanú.");
                await infomod.OpenModal(true);
                return;
            }
            if (dbw.Rezervations.Any(x =>
                x.ArrivalDate <= Marked.DepartureDate && x.DepartureDate >= Marked.ArrivalDate
                && Marked.RoomNumber == x.RoomNumber
                && x.Id != Marked.Id
                && x.Status != DBLayer.Models.ReservationStatus.Stornovana.ToString()
                ))
            {
                await JSRuntime.InvokeVoidAsync("addWarningPopOverUntilClick", "dateinputres1", "Nová blokácia prekrýva časť druhej rezervácie. Blokovanie zoberie vždy celý deň.", "bottom");
                await JSRuntime.InvokeVoidAsync("addStyleClassUntilClick", "dateinputres2", "border-warning");
                infomod.UpdateText("NEULOŽENÉ: Nová blokácia prekrýva časť druhej rezervácie. Blokovanie zoberie vždy celý deň.");
                await infomod.OpenModal(true);
                return;
            }

            var conss = db.HostConReservations.Include(x => x.HostX).Where(x => x.Reservation == Marked.Id).ToList();
            foreach (var item in conss)
            {
                db.Remove(item);
            }
            VyberHosti.Clear();
            if (Marked.Coupon != null)
            {
                Marked.Coupon.IsUsed = false;
                Marked.CouponId = null;
                Marked.Coupon = null;
            }
            found.setFromReservation(Marked);
            dbw.SaveChanges();
            db.SaveChanges();
            infomod.UpdateText("Aktualizacia izby na blokovanu. ");
            await sessionStorage.SetItemAsync("RezervationChanged", true);
            await infomod.OpenModal(true);
            return;
        }
        #endregion
        #region kontrola upozonení
        if (!silent && await OtherValidations())
        {
            if (!Warned)
            {
                Warned = true;
                return;
            }
            Warned = false;
        }
        #endregion
        #region update kupona
        if (Marked.Coupon != null)
        {
            Marked.Coupon.IsUsed = true;
        }
        #endregion
        #region update rezervacie
        if (!Exist())
        {
            dbw.Add(Marked);
        }
        else
        {
            var found = dbw.Rezervations.Include(x => x.Coupon).Include(x => x.Guest).Include(x => x.Room).FirstOrDefault(x => x.Id == Marked.Id);
            if (found == null)
            {
                return;
            }

            if (!string.IsNullOrEmpty(found.CouponId) && found.CouponId != Marked.CouponId)
            {
                found.Coupon.IsUsed = false;
            }

            if (found.Status == DBLayer.Models.ReservationStatus.Stornovana.ToString() && Marked.Status != DBLayer.Models.ReservationStatus.Stornovana.ToString())  //pre stornovane rezervacie spravime kontrolu, ci su validne, ak nie tak nic sa neulozi
            {
                var context = new System.ComponentModel.DataAnnotations.ValidationContext(Marked, serviceProvider: null, items: null);
                var results = new List<System.ComponentModel.DataAnnotations.ValidationResult>();
                if (!System.ComponentModel.DataAnnotations.Validator.TryValidateObject(Marked, context, results, validateAllProperties: true))
                {
                    infomod.UpdateText("Nemožno zmeniť stav stornovanej rezervácie na iný stav lebo kontrola ukazuje konflikty. Vytvorte novú rezerváciu");
                    await infomod.OpenModal(true);
                    db.ClearPendingChanges();
                    dbw.ClearPendingChanges();
                    return;
                }
            }


            found.setFromReservation(Marked);       //update
        }
        #endregion
        #region update prepojeni
        var vyberlistCopy = new List<DBLayer.Models.HostConReservation>(VyberHosti);
        var cons = db.HostConReservations.Include(x => x.HostX).Where(x => x.Reservation == Marked.Id).ToList();
        foreach (var item in cons)
        {
            var found = vyberlistCopy.FirstOrDefault(x => x.Host == item.Host && x.Reservation == Marked.Id);
            if (found == null)
            {
                db.HostConReservations.Remove(item);
            }
            else
            {
                vyberlistCopy.Remove(found);
            }
        }
        foreach (var item in vyberlistCopy)
        {
            db.HostConReservations.Add(item);
        }
        #endregion

        await dbw.SaveChangesAsync();
        await db.SaveChangesAsync();

        await sessionStorage.SetItemAsync("RezervationChanged", true);
        if (!silent)
        {
            await modsaved.OpenModal(true);
        }
        Warned = false;
    }

    private async Task<bool> OtherValidations()
    {
        if (Marked.Id == 0)
        {
            return false;
        }

        var warnfound = false;
        var found = dbw.HRooms.FirstOrDefault(x => x.RoomNumber == Marked.RoomNumber);
        if (Marked.NumberGuest > found.MaxNumberOfGuest)
        {
            await JSRuntime.InvokeVoidAsync("showPopover", "numguestinput", $"Počet hostí je väčší ako kapacita izby: {found.MaxNumberOfGuest}", "bottom");
            await JSRuntime.InvokeVoidAsync("switchStyleClass", "numguestinput", "border-warning");
            await JSRuntime.InvokeVoidAsync("switchStyleClass", "submitbttn", "btn-warning");
            warnfound = true;
        }

        if (Marked.NumberGuest != VyberHosti.Count)
        {
            await JSRuntime.InvokeVoidAsync("showPopover", "numguestshow", $"Počet hostí sa nezhoduje s počtom navolených osôb: {VyberHosti.Count}", "right");
            await JSRuntime.InvokeVoidAsync("switchStyleClass", "numguestshow", "border-warning");
            if (!warnfound)
            {
                await JSRuntime.InvokeVoidAsync("switchStyleClass", "submitbttn", "btn-warning");
            }
            warnfound = true;
        }

        if (IsCompleted())
        {
            await JSRuntime.InvokeVoidAsync("showPopover", "selectstav", "Ručné zadávanie sa nedoporučuje. Skontrolujte pravdivosť hodnôt", "right");
            warnfound = true;
        }


        return warnfound;
    }


    public async Task FindCouponF()
    {
        if (await couponmodal.OpenModal(true))
        {
            string kupon = (string)(couponmodal.Outputs[0]);
            if (string.IsNullOrEmpty(kupon))
            {
                return;
            }

            if (kupon == Marked.CouponId)
            {
                await JSRuntime.InvokeVoidAsync("showPopover", "coupinputid2", $"Vložená poukážka je rovnaká ako aktuálna", "left");
                await JSRuntime.InvokeVoidAsync("switchStyleClass", "coupinputid", "border-primary");
                return;
            }

            var founded = dbw.Coupons.FirstOrDefault(x => x.ID == kupon && !x.IsUsed);
            if (founded != null)
            {
                await JSRuntime.InvokeVoidAsync("showPopover", "coupinputid", $"Poukážka sa našla, uložte zmeny", "left");
                await JSRuntime.InvokeVoidAsync("switchStyleClass", "coupinputid", "border-success");

                Marked.CouponId = founded.ID;
                Marked.Coupon = founded;
                return;
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("showPopover", "coupinputid3", $"Vložená poukážka neexistuje", "left");
                await JSRuntime.InvokeVoidAsync("switchStyleClass", "coupinputid", "border-warning");
            }

        }
    }

    private async Task OpenHostTab()
    {
        await cusmodHostcon.OpenModal(true);
    }

    private async Task CalculateSum()
    {
        if (Marked.Room != null)
        {
            if (Marked.UbytovaciPoplatok == 0)
            {
                await JSRuntime.InvokeVoidAsync("showPopover", "ubytpopinp", "Celková cena vypočítaná bez ubytovacieho poplatku!", "bottom");
            }
            if (VyberHosti.Count == 0)
            {
                await JSRuntime.InvokeVoidAsync("showPopover", "ubytpopinp2", "Celková cena vypočítaná bez hostí!", "top");
            }
            Marked.CelkovaSuma = (decimal)Marked.Room.Cost * (Marked.DepartureDate - Marked.ArrivalDate).Days;
            if (Marked.Coupon != null)
            {
                Marked.CelkovaSuma = (Marked.CelkovaSuma * (100 - Marked.Coupon.Discount)) / 100;
            }
            Marked.CelkovaSuma = Marked.CelkovaSuma + (decimal)Marked.UbytovaciPoplatok * VyberHosti.Count;
        }
    }
    private async Task FindGuest()
    {
        if (await iftwebguest.OpenModal(true))
        {
            var selectedWebGuest = iftwebguest.OutSelection.FirstOrDefault();

            if (!string.IsNullOrEmpty(selectedWebGuest?.UserName))
            {
                Marked.GuestId = selectedWebGuest.Id;
                Marked.Guest = selectedWebGuest;
            }
            else
            {
                Marked.GuestId = null;
                Marked.Guest = null;
            }
        }
    }
    private async Task FindRoom()
    {
        var inputValue = await iftroom.GetInputValue("inputroom");
        List<DBLayer.Models.Room> listIziebsave = new(ListIzby);
        foreach (var item in listIziebsave)
        {
            var found = dbw.Rezervations.FirstOrDefault(x => x.ArrivalDate < Marked.DepartureDate && x.DepartureDate > Marked.ArrivalDate
            && item.RoomNumber == x.RoomNumber
            && x.Id != Marked.Id
            && x.Status != DBLayer.Models.ReservationStatus.Stornovana.ToString()
            || (
                x.RoomNumber == item.RoomNumber
                && x.Id != Marked.Id
                && x.Status == DBLayer.Models.ReservationStatus.Blokovana.ToString()
                && (x.ArrivalDate == Marked.DepartureDate || Marked.ArrivalDate == x.DepartureDate))
            );
            if (found != null)
            {
                var find = ListIzby.FirstOrDefault(x => x.RoomNumber == found.RoomNumber);
                if (find != null)
                {
                    ListIzby.Remove(find);
                }
            }
        }

        if (await iftroom.OpenModal(true))
        {
            Marked.RoomNumber = iftroom.OutSelection.FirstOrDefault().RoomNumber;
            Marked.Room = iftroom.OutSelection.FirstOrDefault();
        }
        foreach (var item in listIziebsave)
        {
            if (!ListIzby.Contains(item))
            {
                ListIzby.Add(item);
            }
        }
        ListIzby.Sort((x, y) => x.RoomNumber.CompareTo(y.RoomNumber));
    }


    /// <summary>
    /// false - mozne menit hodnoty, true - nemozne menit hodnoty
    /// </summary>
    /// <returns></returns>
    private bool ValidateChangeability()
    {
        if (ValidateSpecial())
        {
            return false;
        }
        if (IsCompleted() || IsStorno())
        {
            return true;
        }
        if (Marked.Status == DBLayer.Models.ReservationStatus.VytvorenaRucne.ToString()
            || Marked.Status == DBLayer.Models.ReservationStatus.VytvorenaWeb.ToString()
            || Marked.Status == DBLayer.Models.ReservationStatus.SchvalenaNezaplatena.ToString()
            || Marked.Status == DBLayer.Models.ReservationStatus.Blokovana.ToString())

        {
            return false;
        }

        return true;
    }

    private bool ValidateSpecial()
    {
        return UserService.IsLoggedUserInRoles(DBLayer.Models.Rezervation.ROLE_SPECIAL_REZERVACIA);
    }

    public void Reset()
    {
        if (!ValidateSpecial() && !ValidateChangeability())
        {
            DBLayer.Models.ReservationStatus[] newarr = new DBLayer.Models.ReservationStatus[5];
            newarr[0] = (DBLayer.Models.ReservationStatus)SelectValues.GetValue(0);
            newarr[1] = (DBLayer.Models.ReservationStatus)SelectValues.GetValue(1);
            newarr[2] = (DBLayer.Models.ReservationStatus)SelectValues.GetValue(2);
            //newarr[3] = (DBLayer.Models.ReservationStatus)SelectValues.GetValue(3);
            newarr[3] = (DBLayer.Models.ReservationStatus)SelectValues.GetValue(4);
            newarr[4] = (DBLayer.Models.ReservationStatus)SelectValues.GetValue(5);
            SelectValues = newarr;
        }

        if (Marked != null)
        {
            VyberHosti.Clear();
            VyberHosti.AddRange(db.HostConReservations.Include(x => x.HostX).Where(x => x.Reservation == Marked.Id));       //bez instancie rezervacie
        }
        ZoznamKas.Clear();
        ZoznamKas.AddRange(db.Kasy.Include(x => x.ActualUserX).ToList());

        StateHasChanged();
    }

    private bool IsSpracovana()
    {
        return Marked.Status == DBLayer.Models.ReservationStatus.SchvalenaNezaplatena.ToString();
    }


    public bool IsZaplatena()
    {
        return Marked.Status == DBLayer.Models.ReservationStatus.SchvalenaZaplatena.ToString();
    }

    private bool IsCompleted()
    {
        return Marked.Status == DBLayer.Models.ReservationStatus.Checked_IN.ToString() ||
               Marked.Status == DBLayer.Models.ReservationStatus.Checked_OUT.ToString();
    }

    private bool IsStorno()
    {
        return Marked.Status == DBLayer.Models.ReservationStatus.Stornovana.ToString();
    }

    private bool Exist()
    {
        return Marked.Id != 0;
    }

    private async Task HandleKeyDown(KeyboardEventArgs e, string inputId)
    {
        if (e.Key == "Tab")
        {
            switch (inputId)
            {
                case "inputroom":
                    await FindRoom();
                    break;
                default: break;
            }
        }
    }

    private async Task OpenInfoCoupon()
    {
        if (Marked.Coupon != null)
        {
            infomod.UpdateText("Názov: " + Marked.Coupon.NameService + "<br>Popis: " + Marked.Coupon.Description + "<br>Zľava: " + Marked.Coupon.Discount);
            await infomod.OpenModal(true);
        }
    }

    private async Task DeleteHostCon(DBLayer.Models.HostConReservation item)
    {
        infomod.UpdateText("Chcete odobrať tohto hosťa?");
        if (await infomod.OpenModal(true))
        {
            VyberHosti.Remove(item);
        }
    }
    private async Task AddHostCon()
    {
        bool added = false;
        foreach (var item in VyberHosti)        //vyhodime uz pridanych hosti
        {
            var found = ListHostia.FirstOrDefault(x => x.ID == item.Host);
            if (found != null)
            {
                ListHostia.Remove(found);
            }
        }

        if (await ifthost.OpenModal(true))
        {
            var vybranyHost = ifthost.OutSelection.FirstOrDefault();
            DBLayer.Models.HostConReservation newCon = new()
            {
                Host = vybranyHost.ID,
                HostX = vybranyHost,
                Reservation = Marked.Id,
            };
            VyberHosti.Add(newCon);
            added = true;
        }

        for (var i = 0; i < VyberHosti.Count; ++i)        //pridame naspat do zoznamu
        {
            if (added && i == VyberHosti.Count - 1) //ak sme pridali tak ho ignorujeme lebo tento musel byt v zozname hosti
            {
                continue;
            }
            ListHostia.Add(VyberHosti[i].HostX);        //?
        }
        ListHostia.Sort((x, y) => x.Surname.CompareTo(y.Surname));
    }

    private async Task CreateHostTab()
    {
        cuscreatehost.Render = true;
        if (Marked.Guest != null)
        {
            objectHolder.Add(Marked.Guest);
        }
        await cuscreatehost.OpenModal(true);
        var found = objectHolder.Remove<DBLayer.Models.Host>();
        if (found != null)
        {
            ListHostia.Add(found);
            ListHostia.Sort((x, y) => x.Surname.CompareTo(y.Surname));
            VyberHosti.Add(new DBLayer.Models.HostConReservation()
            {
                Host = found.ID,
                HostX = found,
                Reservation = Marked.Id
            });
        }
        cuscreatehost.Render = false;
    }
    private async Task OpenHostFrom(DBLayer.Models.Host host)
    {
        cuscreatehost.Render = true;
        objectHolder.Add(host);
        await cuscreatehost.OpenModal(true);
        var found = objectHolder.Remove<DBLayer.Models.Host>();
        if (found != null)
        {
            var remov = VyberHosti.FirstOrDefault(x => x.Host == found.ID);
            if (remov != null)
            {
                remov.HostX.Address = found.Address;
                remov.HostX.CitizenID = found.CitizenID;
                remov.HostX.Name = found.Name;
                remov.HostX.Passport = found.Passport;
                remov.HostX.BirthNumber = found.BirthNumber;
                remov.HostX.Surname = found.Surname;
                remov.HostX.BirthDate = found.BirthDate;
                remov.HostX.Note = found.Note;
                remov.HostX.Nationality = found.Nationality;
                remov.HostX.Sex = found.Sex;
                remov.HostX.Guest = found.Guest;
            }
        }
        cuscreatehost.Render = false;
    }

    private async Task ProcessCheckIN()
    {
        await Save(silent: true);
        infomod.UpdateText("Chcete spracovať <strong>CHECK-IN</strong>?<br>Uistite sa, že ste uložili všetky potrebné zmeny.");
        if (await infomod.OpenModal(true))
        {
            Marked.Status = DBLayer.Models.ReservationStatus.Checked_IN.ToString();
            SelectValues = Enum.GetValues(typeof(DBLayer.Models.ReservationStatus));
            await Save(silent: true);
        }
    }

    private async Task ProcessCheckOUT()
    {
        await Save(silent: true);
        infomod.UpdateText("Chcete spracovať <strong>CHECK-OUT</strong>?");
        if (await infomod.OpenModal(true))
        {
            Marked.Status = DBLayer.Models.ReservationStatus.Checked_OUT.ToString();
            SelectValues = Enum.GetValues(typeof(DBLayer.Models.ReservationStatus));
            await Save(silent: true);
        }
    }

    private async Task CreatePdf(DBLayer.Models.HostConReservation con)
    {
        PDFLoading = true;
        PotvrdenieOUbytovaniPDF creator = new PotvrdenieOUbytovaniPDF();

        con.ReservationZ = dbw.Rezervations
            .Include(x => x.Guest)
            .Include(x => x.Room)
            .Include(x => x.Coupon)
            .FirstOrDefault(x => x.Id == con.Reservation);
        if (!string.IsNullOrEmpty(con.HostX.Guest))
        {
            con.HostX.GuestZ = dbw.Users.FirstOrDefault(x => x.Id == con.HostX.Guest);
        }

        var organizacia = db.Dodavatelia.FirstOrDefault(x => x.ICO == "123456");    //TODO
        if (organizacia == null)
        {
            organizacia = new();
        }

        await Task.Run(() =>
        {
            creator.GenerujPdf(con, organizacia);
            creator.OpenPDF();

        });

        PDFLoading = false;
    }

    private async Task OpenPickKasa()
    {
        if (!compVybkasa.JeVybranaKasa())
        {
            await compVybkasa.VyberKasu();  //fyzicky statie programu
        }
        await compVybkasa.Dispose();
    }

    private async Task OpenDokladMod()
    {
        cusopendoklad.Render = true;
        var con = DBLayer.Models.UniConItemPoklDokladu.EnsureCreated(Marked, db, dbw);
        if (con == null)
        {
            infomod.UpdateText("Nepodarilo sa vytvoriť spojenie do pokladničného bloku.");
            await infomod.OpenModal(true);
            return;
        }
        objectHolder.Remove<DBLayer.Models.ReservationConItemPoklDokladu>();        //pre istotu
        objectHolder.Add(con);
        await cusopendoklad.OpenModal(true);
        if (await sessionStorage.GetItemAsync<bool>("UniconChanged"))
        {
            Marked.setFromReservation(dbw.Rezervations.FirstOrDefault(x => x.Id == Marked.Id));
            await sessionStorage.SetItemAsync("UniconChanged", false);
            await sessionStorage.SetItemAsync("RezervationChanged", true);
        }
        cusopendoklad.Render = false;
        StateHasChanged();
    }

    private async Task OpenDoklad()
    {
        await Save(silent: true);
        compVybkasa.StartRender();
    }
}
