@namespace SkladModul
@page "/Objednavka"
@inject ObjednavkaViewModel ViewModel

@using Sve.Blazor.InfiniteScroll.Components

<div class="container">
    <div class="row g-0">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row h-25">
                <h1 class="text-center">Objednávky</h1>
                <div class="col">
                    <button class="btn btn-primary w-100 mt-3" type="button" @onclick="@(() => NavigationManager.NavigateTo("/Objednavka/AddObj"))">➕Pridať objednávku</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary w-100 mt-3" type="button">➖Odstrániť vybranú objednávku</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary w-100 mt-3" type="button">📄Otvoriť objednávku ako PDF</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary w-100 mt-3" type="button" @onclick="@(() => NavigationManager.NavigateTo("/"))">❌Zavrieť objednávky</button>

                </div>
            </div>
        </div>

        <div class="row h-25" >
            <div class="col" style="max-height: 30rem;overflow: auto;">
                <Sve.Blazor.InfiniteScroll.Components.InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="(e) => Method()">
                    <SimpleTable>
                        <THEAD>
                        <th scope="col">ID</th>
                        <th scope="col">Dodavateľ</th>
                        <th scope="col">Popis</th>
                            @* <th scope="col">Stav</th> *@
                        <th scope="col">Dátum vytvorenia</th>
                        @* <th scope="col">Celková cena</th>
                        <th scope="col">Celková cena s DPH</th> *@

                        </THEAD>
                        <TBODY>
                            @foreach (var item in ViewModel.ZoznamObjednavok)
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td>@item.Odberatel</td>
                                    <td>@item.Popis</td>
                                    <td>@item.DatumVznik</td>
                                    
                                </tr>
                            }
                            <span id="observerTarget"></span>
                        </TBODY>

                    </SimpleTable>
                </Sve.Blazor.InfiniteScroll.Components.InfiniteScroll>
            </div>
        </div>
        <div class="row h-25"></div>

        <div class="col-1"></div>
    </div>
</div>



@code {

    protected override async Task OnInitializedAsync()
    {
        // ViewModel.NacitajDalsieCommand.Execute(null);
    }

    public void Method()
    {
        ViewModel.NacitajDalsieCommand.Execute(null);
    }

}
