@namespace AdminModul
@page "/Pouzivatelia/UpdatePouzivatela"
@inject ZmenaPouzivatelaViewModel ViewModel
@using Microsoft.AspNetCore.Components.Forms

<EditForm Model="ViewModel" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <div class="container" style="height: 20rem;">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#profile">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#udata">Osobné údaje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#role">Rola</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="profile">
                <div class="row g-3 p-1 align-items-center">
                    <div class="col-auto">
                        <label for="ICO1" class="col-form-label">Username:</label>
                    </div>
                    <div class="col col-6">
                        <input type="text" value="@ViewModel.UserName" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="udata">
                <div class="row g-3 p-3">

                    <div class="col">
                        <div class="row">
                            <div class="col col-6">
                                <label>Meno*</label>
                                <InputText @bind-Value="@ViewModel.Name" class="form-control" placeholder="Meno" />
                                <ValidationMessage For="@(() => ViewModel.Name)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>Priezvisko*</label>
                                <InputText @bind-Value="@ViewModel.Surname" class="form-control" placeholder="Priezvisko" />
                                <ValidationMessage For="@(() => ViewModel.Surname)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>Email</label>
                                <InputText @bind-Value="@ViewModel.Email" class="form-control" placeholder="Email" />
                                <ValidationMessage For="@(() => ViewModel.Email)" />
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="col col-6">
                                <label>Telefón</label>
                                <InputText @bind-Value="@ViewModel.PhoneNumber" class="form-control" placeholder="Telefón" />
                                <ValidationMessage For="@(() => ViewModel.PhoneNumber)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-6">
                                <label>IBAN</label>
                                <InputText @bind-Value="@ViewModel.IBAN" class="form-control" placeholder="IBAN" />
                                <ValidationMessage For="@(() => ViewModel.IBAN)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-10">
                                <label>Adresa</label>
                                <InputTextArea @bind-Value="@ViewModel.Adresa" class="form-control" placeholder="Adresa bývania" />
                                <ValidationMessage For="@(() => ViewModel.Adresa)" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="tab-pane fade" id="role">
                <div class="row g-3 p-1 align-items-center">
                    <div class="col-auto">
                        <label for="stavobj" class="col-form-label">Stav:</label>
                    </div>
                    <div class="col-auto">
                        @*<select id="stavobj" class="form-select" @bind="@" disabled="@()" aria-label="Default select example">
                                @
                                <option value="@">@</option>
                                @
                                <option value="@">@</option>
                                <option value="@">@</option>
                                <option value="@">@</option>
                                <option value="@">@</option>
                                <option value="@">@</option>
                            </select>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-3 pt-2 align-items-center justify-content-center">
        <div class="col-auto">
            <button type="button" class="btn btn-secondary me-2" @onclick="Close">Späť</button>
            <button type="submit" class="btn btn-primary me-2">Uložiť</button>
        </div>
    </div>
</EditForm>

@code {
    protected override void OnInitialized()
    {
        if (!ViewModel.ValidateUser())
        {
            Navigator.NavigateTo(Navigator.RemoveLastUrl());
            return;
        }

        var founded = objectHolder.Remove<IdentityUserOwn>();   //pokusi sa ziskat objekt z uloziska
        if (founded == null)
        {
            Navigator.NavigateTo(Navigator.RemoveLastUrl());
            return;
        }

        ViewModel.SetUser(founded);
    }

    public async Task Save()
    {
        if (await ViewModel.Uloz())
        {

        }
    }

    public void Close()
    {
        Navigator.NavigateTo(Navigator.RemoveLastUrl());
    }
}
