@namespace SkladModul
@page "/Sklady/CRUSklad"
@inject CRUSkladViewModel ViewModel

@using Microsoft.AspNetCore.Components.Forms

<InfoModal @ref="InfoModSaved" ID="infosaved"
           Text="Zmeny boli uložené" />

<EditForm Model="ViewModel" OnValidSubmit="Save" OnInvalidSubmit="OnIvalid">
    <DataAnnotationsValidator />
    <div class="container px-5">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Informácie o organizácií</h1>
            </div>
        </div>

        <div class="row">

            <div class="col">

                <div class="row">
                    <div class="col-6">
                        <label>Označenie*</label>
                        <InputText @bind-Value="@ViewModel.ID" class="form-control" disabled="@(ViewModel.Existuje())" placeholder="Identifikačné číslo skladu" />
                        <ValidationMessage For="@(() => ViewModel.ID)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <label>Názov*</label>
                        <InputText @bind-Value="@ViewModel.Nazov" class="form-control" placeholder="Celý názov" />
                        <ValidationMessage For="@(() => ViewModel.Nazov)" />
                    </div>
                </div>
            </div>


        </div>
        <div class="row pt-2">
            <div class="col text-center">
                <div class="btn-group" role="group">
                    <button type="button" @onclick="Close" class="btn btn-secondary"><IconTextClose></IconTextClose></button>
                    <SimpleButton Type="submit" ZmenaStavuTextu="@(!ViewModel.Existuje())" ZmenaTextu="@(("Vytvoriť", "Uložiť"))"></SimpleButton>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private InfoModal InfoModSaved = new();

    protected override void OnInitialized()
    {
        if (!ViewModel.ValidateUser())
        {
            Navigator.NavigateTo(Navigator.RemoveLastUrl());
            return;
        }

        var founded = objectHolder.Remove<DBLayer.Models.Sklad>();   //pokusi sa ziskat objekt z uloziska
        if (founded == null)
        {
            return;
        }

        ViewModel.SetProp(founded);
    }

    public void Close()
    {
        Navigator.NavigateTo(Navigator.RemoveLastUrl());
    }

    public async Task Save()
    {
        if (await ViewModel.Uloz())
        {
            await InfoModSaved.OpenModal(true);
        }
    }

    public async Task OnIvalid(EditContext editContext)
    {
        if (ViewModel.Existuje())
        {
            if (editContext.GetValidationMessages().Count() == 1 &&
                editContext.GetValidationMessages().Any(x => x == "Sklad už existuje."))
            {
                await Save();
            }
        }
    }

}
