@namespace LudskeZdrojeModul
@page "/Zam/Cruzam"
@inject CRUZamestnanciViewModel ViewModel

<InfoModal @ref="InfoModSaved" ID="infosaved"
           Text="Zmeny boli uložené" />

<ItemFinderTable T="string" @ref="iftcountry" ID="iftcountryhost"
                 ColNames="@(new() {"Národ"})"
                 ColValues="RESTCountries.NET.Services.RestCountriesService.GetAllCountriesNames(useCommonName: true).ToList()"
                 SizeInRem="20">
</ItemFinderTable>

<EditForm Model="ViewModel" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <div class="container" style="height: 20rem;">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#udata">Osobné údaje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#role">Rola</a>
            </li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane fade show active" id="udata">
                <div class="row g-3 p-3">

                    <div class="col">
                        <div class="row">
                            <div class="col col-10">
                                <label>Meno*</label>
                                <InputText @bind-Value="@ViewModel.Name" class="form-control" placeholder="Meno" />
                                <ValidationMessage For="@(() => ViewModel.Name)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <label>Priezvisko*</label>
                                <InputText @bind-Value="@ViewModel.Surname" class="form-control" placeholder="Priezvisko" />
                                <ValidationMessage For="@(() => ViewModel.Surname)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <label>Email</label>
                                <InputText @bind-Value="@ViewModel.Email" class="form-control" placeholder="Email" />
                                <ValidationMessage For="@(() => ViewModel.Email)" />
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="col col-10">
                                <label>Telefón</label>
                                <InputText @bind-Value="@ViewModel.PhoneNumber" class="form-control" placeholder="Telefón" />
                                <ValidationMessage For="@(() => ViewModel.PhoneNumber)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-10">
                                <label>IBAN</label>
                                <InputText @bind-Value="@ViewModel.IBAN" class="form-control" placeholder="IBAN" />
                                <ValidationMessage For="@(() => ViewModel.IBAN)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-10">
                                <label>Adresa</label>
                                <InputTextArea @bind-Value="@ViewModel.Adresa" class="form-control" placeholder="Adresa bývania" />
                                <ValidationMessage For="@(() => ViewModel.Adresa)" />
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col col-10">
                                <label>Rodné číslo</label>
                                <InputText @bind-Value="@ViewModel.RodneCislo" class="form-control" placeholder="Rodné číslo" />
                                <ValidationMessage For="@(() => ViewModel.RodneCislo)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-10">
                                <label>Číslo občianského</label>
                                <InputText @bind-Value="@ViewModel.ObcianskyID" class="form-control" placeholder="Číslo občianského" />
                                <ValidationMessage For="@(() => ViewModel.ObcianskyID)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-5">
                                <label>Pohlavie</label>
                                <InputSelect class="form-select" @bind-Value="@ViewModel.Sex">
                                    <option value="false">Muž</option>
                                    <option value="true">Žena</option>
                                </InputSelect>
                                <ValidationMessage For="@(() => ViewModel.Sex)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-10">
                                <label>Národnosť</label>
                                <input value="@ViewModel.Nationality" disabled class="form-control" />
                                <ValidationMessage For="@(() => ViewModel.Nationality)" />
                            </div>
                            <div class="col col-1">
                                <div style="height:24px"></div>
                                <BtnFind OnClick="OpenNationality"></BtnFind>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="tab-pane fade" id="role">
                <div class="row g-3 p-3">

                    <div class="col-4">
                        <label>Profesia</label>
                        <div class="list-group" style="height: 13rem; overflow-y: auto">
                            @foreach (var item in ViewModel.RoleVsetky)
                            {
                                <a @onclick="@(() => ViewModel.VyberRolu(item))" class="list-group-item list-group-item-action @((ViewModel.RoleUsera.Exists(x => x.Id == item.Id) ? "list-group-item-success " : ""))" style="cursor:pointer"> <SimpleCheckMark Checked="@(ViewModel.IsDefaultRole(item))" Size="5"></SimpleCheckMark>@item.Name.ToString() </a>
                            }

                        </div>
                    </div>

                    <div class="col-1"></div>
                    <div class="col-1">
                        <div class="d-flex h-100">
                            <div class="vr"></div>
                        </div>
                    </div>

                    <div class="col-5">

                        @****

                            ****@

                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr>


    <div class="row align-items-center justify-content-center">
        <div class="col-auto mb-2">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary" @onclick="Close"><IconTextClose></IconTextClose></button>
                <button type="submit" class="btn btn-primary "><IconTextSave></IconTextSave></button>
            </div>
        </div>
    </div>
</EditForm>


@code {

    private InfoModal InfoModSaved = new();
    private ItemFinderTable<string> iftcountry;


    protected override void OnInitialized()
    {
        if (!ViewModel.ValidateUser())
        {
            Navigator.NavigateTo(Navigator.RemoveLastUrl());
            return;
        }

        var founded = objectHolder.Remove<IdentityUserOwn>();   //pokusi sa ziskat objekt z uloziska
        if (founded == null)
        {
            //nastavenie na vytvorenie pouzivatela
            return;
        }

        ViewModel.SetProp(founded);     //nasiel sa zamestnanec, nastavime model na upravu

    }

    protected async override Task OnInitializedAsync()
    {
        await ViewModel.NacitajZoznamy();
        await ViewModel.SetUserRole();
    }


    public void Close()
    {
        Navigator.NavigateTo(Navigator.RemoveLastUrl());
    }

    public async Task Save()
    {
        if (await ViewModel.Uloz())
        {
            await InfoModSaved.OpenModal(true);
        }
    }

    public async Task OpenNationality()
    {
        if (await iftcountry.OpenModal(true))
        {
            ViewModel.Nationality = iftcountry.OutSelection.FirstOrDefault();
        }
    }


}

