@namespace LudskeZdrojeModul
@page "/Zam"
@inject ZamViewModel ViewModel


<ApproveModal @ref=AprovMod ID="deletemodal"
              Text="Naozaj chcete odstrániť tento riadok?<br>POZOR môžu sa vymazať prvky, ktoré sú spojené s touto položkou!"
              FuncOnSucc="EventCallback.Empty"
              FuncOnDiss="EventCallback.Empty">
</ApproveModal>
<InfoModal @ref="InfoModHasConneciton" ID="infomodalhascon"
           Text="Nemožno vymazať osobu lebo je to aktualne prihlásená osoba alebo má role.">
</InfoModal>

<div class="container">

    <div class="row pb-1">

        <div class="col-3 d-flex justify-content-bottom mb-2">
            <SearchInput NumCols="@(ViewModel.ValidateUserCRUD() ? 7 : 5)" PlaceHolder="Vyhľadaj zamestnanca..." TableID="tableid"></SearchInput>
        </div>

        <div class="col-9">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary" @onclick="Close"><IconTextClose></IconTextClose></button>
                <button @onclick="Create" disabled="@(!ViewModel.ValidateUserCRUD())" type="button" class="btn btn-primary"><IconTextCreate></IconTextCreate></button>
                <button type="button" @onclick="Open" disabled="@(marked == null || !UserService.IsLoggedUserInRoles(IdentityUserOwn.ROLE_CRUD_ZAMESTNANCI))" class="btn btn-primary"><IconTextOpen></IconTextOpen></button>
            </div>
        </div>

        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-12" style="max-height: 30rem;overflow: auto;">
            <SimpleTable ID="tableid">
                <THEAD>

                    <ThSort>Meno</ThSort>
                    <ThSort>Priezvisko</ThSort>
                    <ThSort>Email</ThSort>
                    <ThSort>Telefón</ThSort>
                    @if (ViewModel.ValidateUserCRUD())
                    {
                        <ThSort>IBAN</ThSort>
                        <ThSort>Adresa</ThSort>
                        <ThSort>Občiansky</ThSort>
                    }
                    <ThSort>Profesia</ThSort>
                    <ThSort></ThSort>

                </THEAD>
                <TBODY>
                    @if (ViewModel.NacitavaniePoloziek)
                    {
                        <div class="ms-1">
                            <SpinnerLoading Size="2.0"></SpinnerLoading>
                        </div>
                    }
                    else
                    {
                        @foreach (var item in ViewModel.ZoznamZamestnancov)
                        {

                            <tr @onclick=@(() => marked = item) class="@(marked == item ? "selected-row" : "")" @ondblclick="@(() => Open())" style="cursor: pointer;">
                                <td class="col-resize">@item.Name</td>
                                <td class="col-resize">@item.Surname</td>
                                <td class="col-resize">@item.Email</td>
                                <td class="col-resize">@item.PhoneNumber</td>
                                @if (ViewModel.ValidateUserCRUD())
                                {
                                    <td class="col-resize">@item.IBAN</td>
                                    <td class="col-resize">@item.Adresa</td>
                                    <td class="col-resize">@item.ObcianskyID</td>
                                }
                                <td class="col-resize">@ViewModel.GetRoleString(item)</td>
                                <td>
                                    @if (ViewModel.ValidateUserCRUD())
                                    {
                                        <ButtonRemove Disabled="@(!ViewModel.MoznoVymazat(item))" OnClick="@(() => Delete(item))"></ButtonRemove>
                                    }
                                </td>

                            </tr>
                        }
                    }
                    <span id="observerTarget"></span>
                </TBODY>

            </SimpleTable>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-12"></div>
    </div>

</div>

@code {
    private IdentityUserOwn? marked;
    private ApproveModal AprovMod = new();
    private InfoModal InfoModHasConneciton = new();


    protected override void OnInitialized()
    {
        if (!ViewModel.ValidateUser())
        {
            Navigator.NavigateTo(Navigator.RemoveLastUrl());
            return;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await ViewModel.NacitajZoznamy();
    }

    public void Close()
    {
        Navigator.NavigateTo(Navigator.RemoveLastUrl());
    }

    public void Open()
    {
        if (marked != null)
        {
            if (UserService.IsLoggedUserInRoles(IdentityUserOwn.ROLE_CRUD_ZAMESTNANCI))
            {
                objectHolder.Add(marked);
                Navigator.NavigateTo(Navigator.AddNextUrl("/Cruzam"));
            }
        }
    }

    public async Task Delete(IdentityUserOwn user)
    {
        if (ViewModel.MoznoVymazat(user))
        {
            if (await AprovMod.OpenModal(true))
            {
                await ViewModel.Vymazat(user);
            }
        }
        else
        {
            await InfoModHasConneciton.OpenModal();
        }
    }

    public void Create()
    {
        if (ViewModel.ValidateUserCRUD())
        {
            Navigator.NavigateTo(Navigator.AddNextUrl("/Cruzam"));
        }
    }
}
