@namespace UniComponents
@inject IJSRuntime JSRuntime

@if (!Tooltip.HasValue)
{
    <button id="@ID" type="@Type" class="@Class @AdditionalClass" disabled="@(Disabled || Nacitavanie || CascDisabled || CascLoading)" @onclick="OnClick">
        @ChildContent
        @if (Nacitavanie || CascLoading)
        {
            <SpinnerLoading ExtraSmall="true" />
        }
    </button>
}
else
{
    <button id="@ID" type="@Type" class="@Class position-relative @AdditionalClass" disabled="@(Disabled || Nacitavanie || CascDisabled || CascLoading)" @onclick="ToolTipOnClick">
        @ChildContent
        @if (Nacitavanie || CascLoading)
        {
            <SpinnerLoading ExtraSmall="true" />
        }
        <Tooltip ID="@(ID + "tooltip")" Position="@Tooltip.Value.position" Text="@Tooltip.Value.text" Class="innerdivfill"></Tooltip>
    </button>
}

@code {
    /// <summary>
    /// Vypnutie tlačidla, Default false
    /// </summary>
    [Parameter]
    public bool Disabled { get; set; } = false;

    /// <summary>
    /// Vnutro class, Default "btn btn-primary"
    /// </summary>
    [Parameter]
    public string Class { get; set; } = "btn btn-primary";

    /// <summary>
    /// Vnutro type, Default "button"
    /// </summary>
    [Parameter]
    public string Type { get; set; } = "button";

    /// <summary>
    /// Vnutro @onclick, Default EventCallback.Empty
    /// </summary>
    [Parameter]
    public EventCallback OnClick { get; set; } = EventCallback.Empty;

    /// <summary>
    /// ID tlačidla, Default "basicbutton", dobré nastaviť ak používame tooltip
    /// </summary>
    [Parameter]
    public string ID { get; set; } = "basicbutton";

    /// <summary>
    /// Zobrazí tooltip. Dobré je nastaviť ID. default null.
    /// </summary>
    [Parameter]
    public (string position, string text)? Tooltip { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Určuje, že sa niečo načítava, dáva tlačino ako disabled a dá SpinnerLoading, default false
    /// </summary>
    [Parameter]
    public bool Nacitavanie { get; set; } = false;

    /// <summary>
    /// Prídavný class, nutnost poslat cez cascading parameter
    /// </summary>
    [CascadingParameter(Name = "AdditionalClass")]
    public string AdditionalClass { get; set; } = "";

    /// <summary>
    /// Určuje, že bude tlačilo disabled pomocou cascading parameter, default false
    /// </summary>
    [CascadingParameter(Name = "CascDisabled")]
    public bool CascDisabled { get; set; } = false;

    /// <summary>
    /// Určuje, že bude tlačilo disabled a dá SpinnerLoading  pomocou cascading parameter, default false
    /// </summary>
    [CascadingParameter(Name = "CascLoading")]
    public bool CascLoading { get; set; } = false;


    private async Task ToolTipOnClick()
    {
        await JSRuntime.InvokeVoidAsync("updateTooltipShow", ID + "tooltip", false);    //fixne ak zostane tooltip vysieť
        await OnClick.InvokeAsync();
    }
}
