@namespace UniComponents


<button id="@ID" type="@Type" class="@Class" disabled="@(Disabled || CascLoading)" 
@onclick="OnClick">
    @switch (ZmenaStavuTextu ? ZmenaTextu.Item1 : ZmenaTextu.Item2)
    {
        case "Uložiť":
            <IconTextSave></IconTextSave>
            break;
        case "Vytvoriť":
            <IconTextCreate></IconTextCreate>
            break;
        case "Otvoriť":
            <IconTextOpen></IconTextOpen>
            break;
        case "Vymazať":
            <IconTextDelete></IconTextDelete>
            break;
        default:
            @(ZmenaStavuTextu ? ZmenaTextu.Item1: ZmenaTextu.Item2)
            break;
    }
    @ChildContent
</button>

@code {
    /// <summary>
    /// Vypnutie tlačidla, Default false
    /// </summary>
    [Parameter]
    public bool Disabled { get; set; } = false;

    /// <summary>
    /// Zmenenie textu tlačidla, Default true
    /// </summary>
    [Parameter]
    public bool ZmenaStavuTextu { get; set; } = false;

    /// <summary>
    /// Možnosti textu tlačidla, Default ("Uložiť", "Vytvoriť") - true, false
    /// </summary>
    [Parameter]
    public (string, string) ZmenaTextu { get; set; } = ("Uložiť", "Vytvoriť");

    /// <summary>
    /// Vnutro class, Default "btn btn-primary"
    /// </summary>
    [Parameter]
    public string Class { get; set; } = "btn btn-primary";

    /// <summary>
    /// Vnutro type, Default "submit"
    /// </summary>
    [Parameter]
    public string Type { get; set; } = "submit";

    /// <summary>
    /// Vnutro @onclick, Default EventCallback.Empty
    /// </summary>
    [Parameter]
    public EventCallback OnClick { get; set; } = EventCallback.Empty;

    /// <summary>
    /// ID tlačidla, Default "simplebutton"
    /// </summary>
    [Parameter]
    public string ID { get; set; } = "simplebutton";

    [Parameter]
    public RenderFragment? ChildContent { get; set; } = null;

    /// <summary>
    /// Určuje, že bude tlačilo disabled a dá SpinnerLoading  pomocou cascading parameter, default false
    /// </summary>
    [CascadingParameter(Name = "CascLoading")]
    public bool CascLoading { get; set; } = false;
}
