@namespace SkladModul
@page "/Sklad/Prijem/ModifPrijemka"
@inject ModifPrijemkaViewModel  ViewModel
@using Microsoft.AspNetCore.Components.Forms

<InfoModal @ref="InfoMod" ID="infosaved"
           Text="Zmeny boli uložené.">
</InfoModal>
<ApproveModal @ref="ApproveModNSave" ID="approvenotsave"
              Text="Nemáte uložené zmeny, chcete odísť bez uloženia?"
              FuncOnSucc="EventCallback.Empty"
              FuncOnDiss="EventCallback.Empty">
</ApproveModal>
<ApproveModal @ref="ApproveProcess" ID="approvenprocess"
              Text="Zmena spracovania uloží pridané položky. Chcete pokračovať?"
              FuncOnSucc="EventCallback.Empty"
              FuncOnDiss="EventCallback.Empty">
</ApproveModal>
<InfoModal @ref="InfoModsuccObj" ID="infoloadobj"
           Text="Položky z objednávky boli načítané."
           FuncAction="Save">
</InfoModal>
<InfoModal @ref="InfoModNotFounObj" ID="infonotloadobj"
           Text="Objednávka nebola nájdená.">
</InfoModal>
<InfoModal @ref="InfoModNSomeNotLink" ID="infosomemissing"
           Text="Niektoré položky z objednávky neboli určené pre tento sklad.">
</InfoModal>
<InfoModal @ref="InfoModListEmpty" ID="infolistisempty"
           Text="Nemožno spracovať lebo zoznam položiek tejto príjemky je prázdny.">
</InfoModal>
<InfoModal @ref="InfoModWrongSeason" ID="infowrongseason"
           Text="Nemožno vytvoriť novú príjemku v starom období.">
</InfoModal>


<div class="row pb-1">
    <div class="col-2">
        <a class="btn btn-secondary" id="uctobd" style="cursor:pointer">Obdobie:@DBLayer.Models.Sklad.ShortFromObdobie(ViewModel.Obdobie) </a>
    </div>
    <div class="col-2">
        <a class="btn btn-secondary" id="skldpick" style="cursor:pointer">Sklad:@ViewModel.Sklad.ID </a>
    </div>
</div>

<EditForm Model="ViewModel.Polozka" OnValidSubmit="Save" OnInvalidSubmit="() => ViewModel.Saved = false">
    <DataAnnotationsValidator />
    <div class="container px-5">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Modifikovanie Príjemky</h1>
            </div>
        </div>

        <div class="row">

            <div class="col">
                <div class="row">
                    <div class="col-6">
                        <label>ID (Automaticky)</label>
                        <input type="text" value=@ViewModel.Polozka.ID disabled="disabled" class="form-control" placeholder="" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Dátum vytvorenia</label>
                        <input type="text" value="@ViewModel.Polozka.Vznik.ToShortDateString()" disabled="disabled" class="form-control " placeholder="" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Spracovaná</label>
                        <input type="text" value=@(ViewModel.Polozka.Spracovana ? "Áno" : "Nie") disabled="disabled" readonly class="form-control" placeholder="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Poznámka</label>
                        <textarea class="form-control" @bind-value=@ViewModel.Polozka.Poznamka @bind-value:event="oninput" @onchange="() =>ViewModel.Saved = false" style="max-height: 300px"></textarea>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row">
                    <div class="col-6">
                        <label>Dodací list</label>
                        <input type="text" @bind-value=@ViewModel.Polozka.DodaciID @bind-value:event="oninput" @onchange="() =>ViewModel.Saved = false" class="form-control" placeholder="ID dodacieho listu">
                        <ValidationMessage For="@(() => ViewModel.Polozka.DodaciID)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 ">
                        <label class="">Objednávka</label>
                        <input type="text" @bind-value=@ViewModel.Polozka.Objednavka @bind-value:event="oninput" @onchange="() =>ViewModel.Saved = false" class="form-control " placeholder="ID existujúcej objednávky">
                        <ValidationMessage For="@(() => ViewModel.Polozka.Objednavka)" />
                    </div>
                    <div class="col">
                        <label>Načítať</label><br>
                        <a @onclick="@(() => ViewModel.NacitajZObjednavky(InfoModsuccObj, InfoModNotFounObj, InfoModNSomeNotLink))" style="cursor: pointer" id="load" class="btn btn-secondary btn-sm @((ViewModel.ObsahujePolozky() || ViewModel.Polozka.Spracovana) ? "disabled" : "")"><i class="bi bi-box-arrow-in-down"></i></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label>Faktúra</label>
                        <input type="text" @bind-value=@ViewModel.Polozka.FakturaID @bind-value:event="oninput" @onchange="() =>ViewModel.Saved = false" class="form-control" placeholder="ID faktúry">
                        <ValidationMessage For="@(() => ViewModel.Polozka.FakturaID)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Celková suma</label>
                        <input type="text" value="@(ViewModel.CelkovaSuma.ToString("F3"))" disabled="disabled" class="form-control" placeholder="">
                    </div>
                    <div class="col-5">
                        <label>Celková suma DPH</label>
                        <input type="text" value="@((ViewModel.CelkovaSuma * 120 / 100).ToString("F3"))" disabled="disabled" class="form-control" placeholder="">
                    </div>
                </div>
            </div>

        </div>

        <div class="row pt-2">
            <div class="col text-center">
                <button type="button" @onclick="Close" class="btn btn-secondary">Späť</button>
                <button type="submit" class="btn btn-primary">@(ViewModel.Saved ? "Otvoriť" : "Uložiť")</button>
                <button type="button" disabled="@(!ViewModel.Saved || ViewModel.Polozka.Spracovana)" @onclick="Finnish" class="btn btn-secondary">Spracovať</button>

            </div>
        </div>

    </div>
</EditForm>

@code {
    InfoModal InfoMod = new();
    InfoModal InfoModsuccObj = new();
    InfoModal InfoModNotFounObj = new();
    InfoModal InfoModNSomeNotLink = new();
    InfoModal InfoModListEmpty = new();
    InfoModal InfoModWrongSeason = new();
    ApproveModal ApproveModNSave = new();
    ApproveModal ApproveProcess = new();


    protected override async Task OnInitializedAsync()
    {
        var founded1 = objectHolder.Find<DBLayer.Models.Sklad>();   //pokusi sa ziskat objekt z uloziska
        if (founded1 == null)
        {
            Navigator.NavigateTo(Navigator.RemoveLastUrl());
            return;
        }
        var founded2 = objectHolder.Find<string>();   //pokusi sa ziskat objekt z uloziska
        if (founded2 == null)
        {
            Navigator.NavigateTo(Navigator.RemoveLastUrl());
            return;
        }
        var founded3 = objectHolder.Remove<DBLayer.Models.Prijemka>();
        if (founded3 == null)
        {
            ViewModel.VycistiSa();
            ViewModel.SetProp(founded1, founded2);      //ked na nenasla polozka, nastavujeme model na novu
            if (!ViewModel.AktualneObdobie)     //pri novej prijemke ci je aktualne obdobie
            {
                await InfoModWrongSeason.OpenModal(true);
                Navigator.NavigateTo(Navigator.RemoveLastUrl());
                return;
            }
        }
        else
        {
            ViewModel.SetProp(founded1, founded2, founded3); //nasla sa existujuca polozka, nastavujeme model na upravu
        }

        ViewModel.CelkovaCenaCalc();
    }

    private async Task Save()
    {
        if (!ViewModel.Saved)
        {
            ViewModel.Uloz();
            await InfoMod.OpenModal();
        }
        else
        {
            objectHolder.Add((DBLayer.Models.PohSkup)ViewModel.Polozka);        //nutne poslane polia
            objectHolder.Add(typeof(DBLayer.Models.Prijemka));
            if (!ViewModel.Polozka.Spracovana)
            {
                Navigator.NavigateTo(Navigator.AddNextUrl($"/ModifPolozPrijemka/{false}"));
            }
            else
            {
                Navigator.NavigateTo(Navigator.AddNextUrl($"/ModifPolozPrijemka/{true}"));      //readonly rezim
            }
        }
    }

    private async Task Close()
    {
        if (!ViewModel.Saved)
        {
            if (await ApproveModNSave.OpenModal(true))
            {
                ViewModel.NeulozZmeny();
                ViewModel.VycistiSa();
                Navigator.NavigateTo(Navigator.RemoveLastUrl());
                return; //koniec
            }
            return; //nic
        }
        ViewModel.VycistiSa();
        Navigator.NavigateTo(Navigator.RemoveLastUrl()); //koniec
    }

    private async Task Finnish()
    {
        if (ViewModel.Saved)
        {
            if (await ApproveProcess.OpenModal(true))
            {
                await ViewModel.SpracujPrijemku(InfoModListEmpty);
            }
        }
    }
}
