@namespace SkladModul
@page "/Sklad/Prijem"
@inject PrijemPolozViewModel ViewModel

<ApproveModal @ref=AprovMod ID="deletemodal"
              Text="Naozaj chcete odstrániť tento riadok?"
              FuncOnSucc="@(() => ViewModel.VymazCommand.Execute((DBLayer.Models.Prijemka)marked))"
              FuncOnDiss="EventCallback.Empty">
</ApproveModal>

<div class="container">

    <div class="row pb-1">
        <div class="col-2">
            <a class="btn btn-secondary" id="uctobd" style="cursor:pointer">Obdobie:@DBLayer.Models.Sklad.ShortFromObdobie(ViewModel.Obdobie) </a>
        </div>
        <div class="col-2">
            <a class="btn btn-secondary" id="skldpick" style="cursor:pointer">Sklad:@ViewModel.Sklad.ID </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="text-center font-weight-bold">Príjemky za obdobie</h2>
            <div class="col">
                <button @onclick="() => Navigator.NavigateTo(Navigator.RemoveLastUrl())" class="btn btn-primary  mb-3" type="button">Späť</button>
                <button @onclick="Create" class="btn btn-primary  mb-3" type="button">➕Pridať príjemku</button>
                <button @onclick="() => Open(marked)" disabled="@(marked == null)" class="btn btn-primary  mb-3" type="button">📩Otvoriť príjemku</button>
            </div>
        </div>



    </div>

    <div class="row">
        <div class="col-12" style="height:30rem; overflow:auto">
            <SimpleTable>
                <THEAD>
                <th class="col-resize" scope="col">ID</th>
                <th class="col-resize" scope="col">Vznik</th>
                <th class="col-resize" scope="col">OK</th>

                <th class="col-resize" scope="col">Objednavka</th>
                <th class="col-resize" scope="col">Dodaci</th>
                <th class="col-resize" scope="col">Faktúra</th>

                <th class="col-resize" scope="col">Prevodka z</th>

                <th class="col-resize" scope="col"></th>
                </THEAD>
                <TBODY>
                    @if (!ViewModel.ZoznamPrijemok.Any())
                    {
                        <h2>Načítavanie...</h2>
                    }
                    else
                    {
                        @foreach (var item in ViewModel.ZoznamPrijemok)
                        {

                            <tr @onclick=@(() => marked = item) class="@(marked == item ? "selected-row" : "")" @ondblclick="@(() => Open(item))" style="cursor: pointer;">
                                <td class="col-resize">@item.ID </td>
                                <td class="col-resize">@item.Vznik.ToShortDateString() </td>
                                <td class="col-resize">@item.Spracovana </td>
                                @if (item is DBLayer.Models.Prijemka)
                                {
                                    <td class="col-resize">@(((DBLayer.Models.Prijemka)item).Objednavka) </td>
                                    <td class="col-resize">@(((DBLayer.Models.Prijemka)item).DodaciID) </td>
                                    <td class="col-resize">@(((DBLayer.Models.Prijemka)item).FakturaID) </td>
                                    <td class="col-resize">-</td>
                                    @if (!item.Spracovana)
                                    {
                                        <td><a @onclick=@(() => Delete(item))><i href="#" class="bi bi-x-circle btn btn-danger"></i></a></td>
                                    }
                                    else
                                    {
                                        <td class="col-resize"></td>
                                    }
                                }
                                else
                                {
                                    <td class="col-resize">-</td>
                                    <td class="col-resize">-</td>
                                    <td class="col-resize">-</td>
                                    <td class="col-resize">@(((DBLayer.Models.Vydajka)item).Sklad) </td>
                                    <td class="col-resize"></td>
                                }


                            </tr>

                        }
                    }
                </TBODY>

            </SimpleTable>

        </div>
    </div>

</div>


@code {
    ApproveModal AprovMod = new();
    DBLayer.Models.PohSkup? marked;

    protected override void OnInitialized()
    {
        var founded1 = objectHolder.Find<DBLayer.Models.Sklad>();   //pokusi sa ziskat objekt z uloziska
        if (founded1 == null)
        {
            Navigator.NavigateTo(Navigator.RemoveLastUrl());
            return;
        }
        var founded2 = objectHolder.Find<string>();   //pokusi sa ziskat objekt z uloziska
        if (founded2 != null)
        {
            ViewModel.SetProp(founded1, founded2);      //nasla sa existujuca polozka, nastavujeme model na upravu

            ViewModel.LoadZoznam();
        }
        else
        {
            Navigator.NavigateTo(Navigator.RemoveLastUrl());
            return;
        }
    }

    private void Open(DBLayer.Models.PohSkup poloz)
    {
        if (poloz is DBLayer.Models.Prijemka)
        {
            objectHolder.Add(poloz);
            Create();
        }
        else  //vydajka
        {
            objectHolder.Add(poloz);
            Navigator.NavigateTo(Navigator.AddNextUrl("/ModifVydajka"));
        }
    }
    private async Task Delete(DBLayer.Models.PohSkup poloz)
    {
        //bez kontroly
        marked = poloz;
        await AprovMod.OpenModal(true);
        marked = null;

    }
    private void Create()
    {
        Navigator.NavigateTo(Navigator.AddNextUrl("/ModifPrijemka"));
    }

}
