@namespace SkladModul
@page "/Sklad"
@using DBLayer.Models
@inject SkladViewModel ViewModel


<SelectModal @ref="SelectModObd" ID="selectmodalobdobie"
             SelectionList="@ViewModel.GetObdobia()"
             Value="@ViewModel.Obdobie"></SelectModal>
<SelectModal @ref="SelectModSkl" ID="selectmodalsklad"
             SelectionList="@ViewModel.Sklady.Select(x => x.ID).ToList()"
             Value="@ViewModel.Sklad.ID"></SelectModal>
<ApproveModal @ref=AprovMod ID="deletemodal"
              Text="Naozaj chcete odstrániť tento riadok?<br>POZOR môžu sa vymazať prvky, ktoré sú spojené s touto položkou!"
              FuncOnSucc="EventCallback.Empty"
              FuncOnDiss="EventCallback.Empty">
</ApproveModal>
<InfoModal @ref="InfoModHasConneciton" ID="infomodalhascon"
           Text="Nemožno vymazať položku lebo je obsiahnutá v sklade alebo k neukončenej objednávke.">
</InfoModal>
@implements IDisposable

<div class="container">

    <div class="row pb-1">
        <div class="col-2">
            <a class="btn btn-primary" id="uctobd" style="cursor:pointer" @onclick="ChangeObd">Obdobie:@ViewModel.Obdobie </a>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" id="skldpick" style="cursor:pointer" @onclick="ChangeSkl">Sklad:@ViewModel.Sklad.ID </a>
        </div>
    </div>

    <div class="row pb-1">
        <div class="col-1"></div>
        <div class="col-3 d-flex justify-content-bottom ">
            <input type="text" class="form-control" id="searchBox" placeholder="Vyhľadaj položku..." />
        </div>
        <div class="col-8">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" @onclick="Close">❌Späť</button>
                @if (Sklad.ZMENAPOLOZIEKROLE.Contains(UserService.LoggedUserRole))
                {
                    <button @onclick="@(() => Navigator.NavigateTo(Navigator.AddNextUrl("/ModifPolozSklad")))" type="button" class="btn btn-primary">➕Pridať položku</button>
                }
                @if (Sklad.SKLADOVEPOHYBYROLE.Contains(UserService.LoggedUserRole))
                {
                    <button type="button" @onclick="Prijem" disabled="@(ViewModel.Sklad.ID == "ALL")" class="btn btn-primary">⬇Spravovať Príjem</button>
                    <button type="button" @onclick="Vydaj" disabled="@(ViewModel.Sklad.ID == "ALL")" class="btn btn-primary">⬆Spravovať Výdaj</button>
                    <button type="button" @onclick="Uzavriet" disabled="@(ViewModel.Sklad.ID == "ALL" || !ViewModel.AktualneObdobie)" class="btn btn-primary">➰Uzavrieť obdobie</button>
                }
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-9" style="max-height: 30rem;overflow: auto;">
            <SimpleTable>
                <THEAD>

                <th class="col-resize" scope="col">ID</th>
                <th class="col-resize" scope="col">Názov</th>
                <th class="col-resize" scope="col">Merná jednotka</th>
                <th class="col-resize" scope="col">Cena</th>
                <th class="col-resize" scope="col">Cena s DPH</th>
                <th class="col-resize" scope="col"><button @onclick=@ViewModel.LoadMnozstvo disabled="@ViewModel.NacitaneMnozstvo" class="btn btn-sm @(ViewModel.NacitaneMnozstvo ? "btn-light" : "btn-dark")">Množstvo</button> </th>
                <th class="col-resize" scope="col"></th>

                </THEAD>
                <TBODY>
                    @if (!ViewModel.ZoznamPoloziekSkladu.Any())
                    {
                        <h2>Načítavanie...</h2>
                    }
                    @foreach (var item in ViewModel.ZoznamPoloziekSkladu)
                    {

                        <tr @onclick=@(() => marked = item) class="@(marked == item ? "selected-row" : "")" @ondblclick="@(() => Open(item))" style="cursor: pointer;">
                            <td class="col-resize">@item.ID </td>
                            <td class="col-resize">@item.Nazov </td>
                            <td class="col-resize">@item.MernaJednotka </td>
                            <td class="col-resize">@item.Cena.ToString("F3") </td>
                            <td class="col-resize">@item.CenaDPH.ToString("F3") </td>
                            <td class="col-resize">@(ViewModel.NacitaneMnozstvo ? item.Mnozstvo : "-")</td>
                            @if (Sklad.ZMENAPOLOZIEKROLE.Contains(UserService.LoggedUserRole))
                            {
                                <td><a @onclick=@(() => Delete(item))><i href="#" class="bi bi-x-circle btn btn-danger"></i></a></td>
                            }
                            else
                            {
                                <td class="col-resize"> </td>
                            }
                        </tr>

                    }
                    <span id="observerTarget"></span>
                </TBODY>

            </SimpleTable>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-12"></div>
    </div>

</div>

<script>window.changeText = (id, newText) => {
    var element = document.getElementById(id);
    element.textContent = newText;
}</script>


@code {

    SelectModal SelectModObd = new();
    SelectModal SelectModSkl = new();
    ApproveModal AprovMod = new();
    InfoModal InfoModHasConneciton = new();
    PolozkaSkladu? marked;



    private async Task ChangeObd()
    {
        await SelectModObd.OpenModal(true);
        ViewModel.Obdobie = SelectModObd.Value;

        ViewModel.CheckIsLastObdobie();     //kontrola ci je obdobie aktualne

        await JSRuntime.InvokeVoidAsync("changeText", "uctobd", "Obdobie:" + ViewModel.Obdobie);
    }
    private async Task ChangeSkl()
    {
        await SelectModSkl.OpenModal(true);
        await ViewModel.SetSklad(SelectModSkl.Value);
        await JSRuntime.InvokeVoidAsync("changeText", "skldpick", "Sklad:" + ViewModel.Sklad.ID);
        await JSRuntime.InvokeVoidAsync("changeText", "uctobd", "Obdobie:" + ViewModel.Obdobie);
    }

    protected override void OnInitialized()
    {
        ViewModel.NacitaneMnozstvo = false;
        if (!Sklad.POVOLENEROLE.Contains(UserService.LoggedUserRole))
        {
            Navigator.NavigateTo(Navigator.RemoveLastUrl());
        }
        var founded1 = objectHolder.Remove<DBLayer.Models.Sklad>();   //pokusi sa ziskat objekt z uloziska
        if (founded1 == null)
        {
            return;
        }
        var founded2 = objectHolder.Remove<string>();   //pokusi sa ziskat objekt z uloziska
        if (founded2 != null)
        {
            ViewModel.SetProp(founded1, founded2);      //nasla sa existujuca polozka, nastavujeme model na upravu
        }

    }

    protected override async Task OnInitializedAsync()
    {
        await ViewModel.LoadPolozky();
    }

    private async Task Delete(PolozkaSkladu poloz)
    {
        if (ViewModel.MoznoVymazat(poloz))
        {
            if (await AprovMod.OpenModal(true))
            {
                ViewModel.VymazPolozku(poloz);
            }
        }
        else
        {
            await InfoModHasConneciton.OpenModal();
        }

    }
    private void Open(PolozkaSkladu poloz)
    {
        if (Sklad.ZMENAPOLOZIEKROLE.Contains(UserService.LoggedUserRole))
        {
            objectHolder.Add(poloz);
            ViewModel.ZoznamPoloziekSkladu.Clear();
            Navigator.NavigateTo(Navigator.AddNextUrl("/ModifPolozSklad"));
        }
    }

    private void Prijem()
    {
        objectHolder.Add(ViewModel.Sklad);
        objectHolder.Add(ViewModel.Obdobie);
        Navigator.NavigateTo(Navigator.AddNextUrl("/Prijem"));
    }
    private void Vydaj()
    {
        objectHolder.Add(ViewModel.Sklad);
        objectHolder.Add(ViewModel.Obdobie);
        Navigator.NavigateTo(Navigator.AddNextUrl("/Vydaj"));
    }
    private void Uzavriet()
    {
        objectHolder.Add(ViewModel.Sklad);
        objectHolder.Add(ViewModel.Obdobie);
        Navigator.NavigateTo(Navigator.AddNextUrl("/Uzavierka"));
    }

    private void Close()
    {
        var founded1 = objectHolder.Remove<DBLayer.Models.Sklad>();   //pokusi sa ziskat objekt z uloziska //asi netreba
        var founded2 = objectHolder.Remove<string>();   //pokusi sa ziskat objekt z uloziska //asi netreba
        Navigator.NavigateTo(Navigator.RemoveLastUrl());
    }

    public void Dispose()
    {
        ViewModel.ClearNumZoznam();
    }
}
