@namespace SkladModul
@page "/Sklad/Vydaj"
@inject VydajPolozViewModel ViewModel

<ApproveModal @ref=AprovMod ID="deletemodal"
              Text="Naozaj chcete odstrániť tento riadok?"
              FuncOnSucc="@(() => ViewModel.VymazCommand.Execute(marked))"
              FuncOnDiss="EventCallback.Empty">
</ApproveModal>

<div class="container">

    <div class="row pb-1">
        <div class="col-2">
            <a class="btn btn-secondary" id="uctobd" style="cursor:pointer">Obdobie:@DBLayer.Models.Sklad.ShortFromObdobie(ViewModel.Obdobie) </a>
        </div>
        <div class="col-2">
            <a class="btn btn-secondary" id="skldpick" style="cursor:pointer">Sklad:@ViewModel.Sklad.ID </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="text-center font-weight-bold">Výdajky za obdobie</h2>
            <div class="col">
                <button @onclick="() => Navigator.NavigateTo(Navigator.RemoveLastUrl())" class="btn btn-primary  mb-3" type="button">Späť</button>
                <button @onclick="Create" disabled="@(!ViewModel.IsObdobieActual())" class="btn btn-primary  mb-3" type="button">➕Pridať výdajku</button>
                <button @onclick="() => Open(marked)" disabled="@(marked == null)" class="btn btn-primary  mb-3" type="button">📩Otvoriť výdajku</button>
            </div>
        </div>



    </div>

    <div class="row">
        <div class="col-12" style="height:30rem; overflow:auto">
            <SimpleTable>
                <THEAD>
                <ThSort>ID</ThSort>
                <ThSort>Vznik</ThSort>
                <ThSort>Obdobie</ThSort>
                <ThSort>OK</ThSort>
                <ThSort>Prevodka do</ThSort>
                <th class="col-resize" scope="col"></th>
                </THEAD>
                <TBODY>
                    @foreach (var item in ViewModel.ZoznamVydajok)
                    {

                        <tr @onclick=@(() => marked = item) class="@(marked == item ? "selected-row" : "")" @ondblclick="@(() => Open(item))" style="cursor: pointer;">
                            <td class="col-resize">@item.ID </td>
                            <td class="col-resize">@item.Vznik.ToShortDateString() </td>
                            <td class="col-resize">@(DBLayer.Models.Sklad.ShortFromObdobie(item.Obdobie)) </td>
                            <td class="col-resize">
                                <SimpleCheckMark Checked="@item.Spracovana" Size="5"></SimpleCheckMark>
                            </td>
                            <td class="col-resize">@(string.IsNullOrEmpty(item.SkladDo) ? "-" : item.SkladDo) </td>
                            @if (!item.Spracovana)
                            {
                                <td><a @onclick=@(() => Delete(item))><i href="#" class="bi bi-x-circle btn btn-danger"></i></a></td>
                            }
                            else
                            {
                                <td class="col-resize"> </td>
                            }
                        </tr>

                    }
                </TBODY>

            </SimpleTable>

        </div>
    </div>

</div>


@code {
    ApproveModal AprovMod = new();
    DBLayer.Models.Vydajka? marked;

    protected override void OnInitialized()
    {
        var founded1 = objectHolder.Find<DBLayer.Models.Sklad>();   //pokusi sa ziskat objekt z uloziska
        if (founded1 == null)
        {
            Navigator.NavigateTo(Navigator.RemoveLastUrl());
            return;
        }
        var founded2 = objectHolder.Find<string>();   //pokusi sa ziskat objekt z uloziska
        if (founded2 != null)
        {
            ViewModel.SetProp(founded1, founded2);      //nasla sa existujuca polozka, nastavujeme model na upravu

            ViewModel.LoadZoznam();
        }
        else
        {
            Navigator.NavigateTo(Navigator.RemoveLastUrl());
            return;
        }
    }

    private void Open(DBLayer.Models.Vydajka poloz)
    {
        objectHolder.Add(poloz);
        Create();
    }
    private async Task Delete(DBLayer.Models.Vydajka poloz)
    {
        //bez kontroly
        await AprovMod.OpenModal(true);
        marked = null;

    }
    private void Create()
    {
        Navigator.NavigateTo(Navigator.AddNextUrl("/ModifVydajka"));
    }

}
